<!DOCTYPE html>
<head th:replace="~{fragments/bootstrap::head(title='Profesores')}"></head>
<body>
<div class="container mt-5">
    <div class="row mt-5 justify-content-center">
        <header th:insert="~{fragments/parts::menu}"></header>
        <div class="col-8">
            <h1 class="text-center">Lista de profesores</h1>
            <table class="table table-stripped table-hover">
                <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Nif</th>
                    <th>Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Departamento</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${profesores}">
                    <td th:text="${p.getId()}"></td>
                    <td th:text="${p.getNif()}"></td>
                    <td th:text="${p.getNombre()}"></td>
                    <td th:text="${p.getApellido1()}"></td>
                    <td th:text="${p.getDepartamento().nombre}"></td>
                    <td><a th:href="@{'/profesores/asignaturas?id=' + ${p.getId()}}"><i class="bi bi-journal-bookmark-fill"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <footer th:replace="~{fragments/parts::footer(info='menu.professors')}"></footer>
    </div>
</div>
</body>
</html>